<h3 class="text-primary">Login</h3>
<hr/>
<form ng-controller="LoginController" class="form-horizontal" name="loginForm" novalidate role="form">
    <div class="form-group" ng-class="{'has-error':loginForm.email.$invalid && loginForm.email.$dirty}">
        <label for="email" class="col-md-3 control-label">Email</label>
        <div class="col-md-9">
            <input type="text" style="width:200px;" id="email" name="email" class="form-control" 
                   ng-model="userModel.email" ng-required="true"/>
            <span class="help-block" ng-show="loginForm.email.$error.required 
                  && loginForm.email.$dirty">Email field is required.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error':loginForm.password.$invalid && loginForm.password.$dirty}">
        <label for="password" class="col-md-3 control-label">Password</label>
        <div class="col-md-9">
            <input type="password" style="width:200px;" id="password" name="password" class="form-control"
                   ng-model="userModel.password" ng-required="true"/>
            <span class="help-block" ng-show="loginForm.password.$error.required &&
                   loginForm.password.$dirty">Password field is required.</span>
            <br/>
            <button class="btn btn-primary" ng-disabled="loginForm.$invalid" value="Login" ng-click="login()">Login</button>
            <a href="Register">New user ? Register</a><br/>
            <h4 class="text-success" ng-bind="info"></h4>
        </div>
    </div>
</form>


