################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPIService/obj/Debug
/WebAPIService/bin
/packages
/AngularJsClient/bin
/AngularJsClient/obj/Debug
/WebAPIService/obj/Release
/WebAPIService/Properties/PublishProfiles
/AngularJsClient/obj/Release
*.user