<!DOCTYPE html>
<html ng-app="authenticateUser">
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    
</head>
<body ng-controller="LoginController">
    <div>
        <input type='text' ng-model="userModel.email" placeholder="Type your email"><br />
        <input type='text' ng-model="userModel.password" placeholder="Type your password"><br />
        <button class="btn btn-primary" ng-click="login()">Login</button>
        <button class="btn btn-primary" ng-click="register()">Register</button>
    </div>
  <ul ng-repeat="p in products">
      <li>{{p.id}}.{{p.name}}</li>
  </ul>
    <script src="Scripts/index.js"></script>
</body>
</html>
