<h3 class="text-primary">Add new user</h3>
<hr/>
<form class="form-horizontal" name="registerForm" novalidate role="form">
    <div class="form-group" ng-class="{'has-error':registerForm.email.$invalid && registerForm.email.$dirty}">
        <label for="email" class="col-md-3 control-label">Email</label>
        <div class="col-md-9">
            <input type="email" style="width:200px;" id="email" name="email" class="form-control"
                    ng-model="userModel.email" ng-required="true" />
            <span class="help-block" ng-show="registerForm.email.$error.required && registerForm.email.$dirty">
                Email field is required
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error':registerForm.password.$invalid && registerForm.password.$dirty}">
        <label for="password" class="col-md-3 control-label">Password</label>
        <div class="col-md-9">
            <input type="password" style="width:200px;" id="password" name="password" class="form-control"
                   ng-model="userModel.password" ng-required="true"/>
            <span class="help-block" ng-show="registerForm.password.$error.required && registerForm.password.$dirty">
                Password field is required
            </span>
           
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error':registerForm.confirmPassword.$invalid && 
         registerForm.confirmPassword.$dirty}">
        <label for="confirmPassword" class="col-md-3 control-label">Confirm Password</label>
        <div class="col-md-9">
            <input type="password" style="width:200px;" id="confirmPassword" name="confirmPassword" class="form-control"
                   ng-model="userModel.confirmPassword" ng-required="true" />
            <span class="help-block" ng-show="registerForm.confirmPassword.$error.required && 
                  registerForm.confirmPassword.$dirty">
                Confirm password field is required
            </span><br/>
            <button class="btn btn-primary" ng-disabled="registerForm.$invalid"
                    value="Register" ng-click="register()">
                Register
            </button>
        </div>
    </div>
</form>